##############################
## clang
##############################
.[Cc][Aa][Cc][Hh][Ee]/

##############################
## cmake
##############################
[Bb][Uu][Ii][Ll][Dd]/

##############################
## vscode
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/
